@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
    font-family: 'SuseongDotum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/SuseongDotum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none; display: block; color: #655c56;}
img, header, section {
    width: 100%;
    float: left;
}
header, section, div{
    box-sizing: border-box;
}
html, body{
    font-family: 'NanumSquare';
    background-color: #effcef;
    color: #655c56;
    overflow-x: hidden;
}


/* branch */
@keyframes branch-ani-right{
    0%{transform:rotate(-0.5deg); transform-origin: right center;}
    50%{transform:rotate(0.5deg);transform-origin: right center;}
    100%{transform:rotate(-0.5deg);transform-origin: right center;}
}
@keyframes branch-ani-left{
    0%{transform:rotate(-0.5deg); transform-origin: left center;}
    50%{transform:rotate(0.5deg);transform-origin: left center;}
    100%{transform:rotate(-0.5deg);transform-origin: left center;}
}
@keyframes branch-ani-btm{
    0%{transform:rotate(-0.5deg); transform-origin: right bottom;}
    50%{transform:rotate(0.5deg);transform-origin: right bottom;}
    100%{transform:rotate(-0.5deg);transform-origin: right bottom;}
}
section{
    position: relative;
}
.branch_right .branch{
    position: absolute;
    width: 500px;
    right: 0;
    opacity: 50%;
    z-index: 10;
    animation: branch-ani-right 2s infinite;
}
.branch_left .branch {
    position: absolute;
    width: 500px;
    left: 0;
    opacity: 50%;
    z-index: 10;
    animation: branch-ani-left 2s infinite;
}
.branch_right .branch_btm{
    position: absolute;
    width: 250px;
    bottom: 220px;
    left: 0;
    opacity: 50%;
    z-index: 10;
    animation: branch-ani-btm 2s infinite;
}
.section_in div{
    z-index: 50;
}


/* header */
header{
    padding: 80px 0 0;
}
.header_in{
    width: 1760px;
    height: 120px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid #655c56;
    background-color: #effcef;
    display: flex;
    justify-content: space-between;
    padding: 0 90px;
    z-index: 500;
    position: fixed;
}
.header_in.active{
    top: 0;
    z-index: 500;
}
.header_in.active2{
    top: 0;
    z-index: 500;
    background-color: #ccedd2;
}
.logo{
    width: 110px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
nav ul li{
    padding: 0 20px;
    position: relative;
}
nav ul li:nth-child(6) a{
    color: #6a9c78;
}
nav ul li:nth-child(7) a{
    color: #6a9c78;
}
nav ul li:last-child{
    position: absolute;
    bottom: 10px;
    right: 0;
    color: #ef5555;
    font-size: 18px;
    font-weight: 700;
}
nav ul li a{
    font-size: 24px;
    font-weight: 900;
    line-height: 120px;
    position: relative;
    display: inline-block;
}

nav ul li a:after{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: #6a9c78;
    left: 50px;
    bottom:38px;
    transition: all 0.5s;
}
nav ul li:hover a:after {
    width: 100%;
    left: 0;
}
nav ul li div{
    font-size: 8px;
    position: absolute;
    text-align: right;
    top: 45px;
    color: #6a9c78;
    display: none;
}
nav ul li:hover div{
    display: block;
}
nav ul li:first-child div{
    width: 70%;
}
nav ul li:nth-child(2) div{
    width: 75%;
}
nav ul li:nth-child(3) div{
    width: 75%;
}
nav ul li:nth-child(4) div{
    width: 80%;
}
nav ul li:nth-child(5) div{
    width: 80%;
}
nav ul li:nth-child(6) div{
    width: 75%;
}
nav ul li:nth-child(7) div{
    width: 80%;
}
.menu{
    display: none;
}
.mobile_nav{
    display: none;
}

/* s1 */
.section_in{
    width: 1760px;
    margin: 0 auto;
    padding: 100px 175px;
    border: 3px solid #655c56;
    border-top: none;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
}
.s1 .section_in{margin-top: 120px;}
.s1 .s1_left{
    width: 50%;
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    
}
@keyframes ani{
    0%{color: #effcef;}
    85%{color: #effcef;}
    100%{color: #655c56;}
}
.s1 .s1_left .ani{
    animation: ani 18s forwards;
}
.s1 .s1_left .ani h1{
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 60px;
}
.s1 .s1_left .ani p{
    font-size: 24px;
    line-height: 38px;
    font-weight: 500;
}
.s1 .s1_right{
    width: 40%;
    padding: 20px 0; 
    transform: rotate(15deg);   
}

/* s2 */
.s2{
    background-color: #ccedd2;
}
.s2 .section_in{
    padding: 120px 90px;
    gap: 90px;
}
.s2 .section_in > div{
    width: 50%;
}
.s2 .s2_left{
    padding-left: 90px;
}
.s2 .s2_left .title{
    text-align: center;
}
.s2 .s2_left .title h1{
    font-size: 70px;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 110px;
}
.s2 .s2_left .des .sub p{
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 30px;
}
.s2 .s2_left .des .sub span{
    font-size: 24px;
    line-height: 38px;
}
.s2 .s2_left .des .sub{
    margin-bottom: 90px;
}
.s2 .s2_right{
    margin-top: 180px;
}
.s2 .s2_right .tab .tab_title ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    flex-flow: row wrap;
}
.s2 .s2_right .tab .tab_title ul li{
    background-color: #94d3ac;
    width: 155px;
    height: 155px;
    border-radius: 40px;
    line-height: 155px;
}
.s2 .s2_right .tab .tab_title ul li.active{
    background-color: #6a9c78;
    width:135px;
    height: 135px;
    border: 10px solid #effcef;
    line-height: 135px;
}
.s2 .s2_right .tab .tab_title ul li a{
    color: #effcef;
    font-size: 30px;
    text-align: center;
    font-family: 'SuseongDotum';
}
.s2 .s2_right .tab .tab_title ul li:nth-child(4) a{
    font-size: 45px;
}
.s2 .s2_right .tab .tab_title ul li:nth-child(5) a{
    font-size: 45px;
}
.s2 .s2_right .tab .tab_title ul li:nth-child(6) a{
    font-size: 45px;
}
.s2 .s2_right .tab .tab_title ul li:nth-child(7) a{
    font-size: 45px;
}

.s2 .s2_right .tab .tab_con {
    margin-top: 50px;
    background-color: #effcef;
    height: 275px;
    font-size: 22px;
    line-height: 40px;
    padding: 60px;
}

/* s3 */
.s3 .section_in{
    flex-flow: column wrap;
    padding: 60px 90px 120px;
}
.s3 .title h1{
    font-size: 70px;
    font-weight: 500;
    text-align: center;
    margin-top: 160px;
}
.swiper {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-color: #94d3ac;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    margin-bottom: 40px;
    overflow: hidden;
}
.slide1{
    background-image: url(../img/g1.png);
}
.slide2{
    background-image: url(../img/g2.png);
}
.slide3{
    background-image: url(../img/g3.png);
}
.slide4{
    background-image: url(../img/g4.png);
    background-size: 70%;
    background-position: top;
}
.slide5{
    background-image: url(../img/g5.png);
}
.slide6{
    background-image: url(../img/g6.png);
    background-size: 70%;
}
.s3 .swiper-horizontal>.swiper-pagination-bullets span {
    width: 14px;
    height: 14px;
    background-color: #6a9c78;
    margin: 0 8px;
}

.popup{
    width: 1500px;
    padding: 60px;
    background-color: #ccedd2;
    position: absolute;
    z-index: 100;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    /* display: none; */
}
.popup_in{
    width: 100%;
    border: 3px solid #655c56;
    padding: 60px;
    display: flex;
    flex-flow: column nowrap;
}
.s3 .popup {
    width:1200px;
    padding: 60px;
    background-color:#ccedd2;
    position: absolute;
    z-index:100;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
}
.s3 .popup .container {
    display:flex;
    flex-flow:column nowrap;
    width: 100%;
}
.s3 .popup .container .graphic{
    height: 400px;
    margin: 0 auto;
    overflow: scroll;
}
.s3 .popup .close {
    position:absolute;
    width: 30px;
    right: 120px;
    top: 120px;
    cursor: pointer;
}
.s3 .popup .nextBtn {
    position:absolute;
    width: 20px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.s3 .popup .prevBtn {
    position:absolute;
    width: 20px;
    left: 15px;
    top:50%;
    transform:translateY(-50%);
}
.s3 .popup .txt{
    margin-bottom: 60px;
}
.s3 .popup .txt .slide_des {   
    width:100%;
}
.s3 .popup .txt .slide_title {
    background-color: #ccedd2;
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 30px;
}
.s3 .popup .txt .slide_content{
    background-color:#ccedd2;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 10px;
}
.s3 .popup .txt .slide_content:nth-child(3) {
    font-size: 20px;
    font-weight: 500;
}

/* s4 */
.s4{
    background-color: #ccedd2;
}
.s4 .section_in{
    flex-flow: column wrap;
    padding: 180px 175px;
}
.s4 .title{
    margin-bottom: 120px auto;
}
.s4 .title h1{
    font-size: 70px;
    font-weight: 500;
    text-align: center;
}
.s4 .site ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 60px;
}
.s4 .site ul a{
    position: relative;
}
.s4 .site ul a li{
    border-radius: 40px;
    width: 400px;
    height: 530px;
    overflow: hidden;
}
.s4 .site ul a .img{
    background-color: #94d3ac;
}
.s4 .site ul a .img div{
    width: 75%;
    margin: 25% auto;
}
.s4 .site ul a .cover{
    background-color: #6a9c78;
    border: 10px solid #effcef;
    width: 380px;
    height: 510px;
    position: absolute;
    top: 0;
    display: none;
}
.s4 .site ul a .cover > div{
    color: #effcef;
    padding: 60px;
}
.s4 .site ul a .cover div h1{
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}
.s4 .site ul a .cover div h2{
    margin-top: 90px;
    font-size: 40px;
}
.s4 .site ul a .cover div p{
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 10px;
}
.s4 .site ul a .cover div span{display: none;}
.s4 .site ul a .cover > div {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}
.s4 .site ul a .cover > div > .box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.s4 .site ul a .cover div .box .boxx{
    height: 40px;
    background-color: transparent;
    color: #effcef;
    font-size: 20px;
    margin-bottom: 40px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #effcef;
}
.s4 .site ul a .cover > div button {
    background-color: #effcef;
    border: none;
    width: 160px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    color: #655c56;
    font-weight: 700;
}
.s4 .site ul a .cover > div .twobtn{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.s4 .site ul a .cover > div .twobtn button{
    width: 120px;
}

/* s5 */
.s5{
    padding-bottom: 80px;
}
.s5 .section_in{
    padding: 120px 90px;
    gap: 80px;
    border-bottom: 3px solid #655c56;
}
.s5 .section_in > div{
    width: 50%;
}
.s5 .s5_left{
    padding: 140px 100px 0;
    font-size: 18px;
    text-align: center;
}
.s5 .s5_left .pic{
    background-image: url(../img/photo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
    margin-bottom: 80px;
}
.s5 .s5_right{
    background-color: #ccedd2;
    padding: 100px;
}
.s5 .s5_right .title h1{
    font-size: 70px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 70px;
}

.s5 .s5_right .s5_right_in .num{
    line-height: 40px;
    font-size: 24px;
    margin-bottom: 55px;
}
.s5 .s5_right .s5_right_in .btn{
    display: flex;
    justify-content: space-between;
}
.s5 .s5_right .s5_right_in .btn button{
    width: 240px;
    height: 90px;
    float: right;
    border: 2px solid #655c56;
    margin-bottom: 40px;
    background-color: transparent;
    font-size: 24px;
    position: relative;
    line-height: 50px;
    text-align: center;
}
.s5 .s5_right .s5_right_in .btn button p{
    position: absolute;
    z-index: 10;
    display: block;
    padding: 20px 59px;
    top: 0;
}
.s5 .s5_right .s5_right_in .btn button:last-child p{
    padding: 20px 74px;
}
.s5 .s5_right .s5_right_in .btn button:after{
    content: "";
    position: absolute;
    background-color: #656565;
    left: 0;
    top: 0;
    height: 0;
    transition: all 0.3s;
    width: 100%;
}
.s5 .s5_right .s5_right_in .btn button:hover:after{
    height: 100%;
    z-index: 1;
}
.s5 .s5_right .s5_right_in .btn button:hover p{
    color: #effcef;
}
.s5 .popup{
    width: 750px;
    display: none;
}
.s5 .popup .popup_in .title h1{
    font-size:50px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
}
.s5 .popup .popup_in form .thankyou_message{
    text-align: center;
    padding: 50px 0;
    line-height: 40px;
}
.s5 .popup .popup_in form div fieldset {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.s5 .popup .popup_in form div fieldset label{
    font-size: 20px;
    font-weight: 700;
}
.s5 .popup .popup_in form div fieldset input{
    width: 371px;
    font-size: 18px;
    border: none;
    background-color: #effcef;
}
.s5 .popup .popup_in form div fieldset textarea{
    font-size: 18px;
    border: none;
    background-color: #effcef;
}
.s5 .popup .popup_in form div button{
    width: 120px;
    height: 60px;
    float: right;
    border: 1px solid #655c56;
    margin-top: 20px;
    background-color: transparent;
    position: relative;
}
.s5 .popup .popup_in form div button:after{
    content: "";
    position: absolute;
    background-color: #656565;
    left: 0;
    top: 0;
    height: 0;
    transition: all 0.3s;
    width: 100%;
}
.s5 .popup .popup_in form div button:hover:after{
    height: 100%;
    z-index: 1;
}
.s5 .popup .popup_in form div button p{
    z-index: 10;
    position: absolute;
    display: block;
    padding:  18px 17px;
    font-size: 20px;
    top: 0;
}
.s5 .popup .popup_in form div button:hover p{
    color: #effcef;
}
.s5 .popup .xbtn{
    width: 30px;
    position: absolute;
    right: 120px;
    top: 140px;
    cursor: pointer;
}

.top{
    border: 3px solid #655c56;
    background-color: #ccedd2;
    width: 80px;
    height: 80px;
    position: fixed;
    text-align: center;
    bottom: 120px;
    right: 70px;
    padding: 10px 0;
    cursor: pointer;
    z-index: 100;
    display: none;
}
.top i{
    font-size: 26px;
}
.top p{
    font-weight: 900;
    font-size: 20px;
}

@media screen and (max-width:1024px){
    .branch_right .branch{
        width: 250px;
    }
    .branch_left .branch {
        width: 250px;
    }
    .branch_right .branch_btm{
        width: 150px;
        bottom: 220px;
    }
    .section_in div{
        z-index: 50;
    }

    /* header */
    header{
        width: 100%;
        padding: 40px;
    }
    .header_in{
        width:92.1%;
        height: 90px;
        padding: 2px 20px;
    }
    .logo{
        width: 80px;
    }
    nav ul{
        gap: 0px;
    }
    nav ul li:last-child{
        bottom: 2px;
        font-size: 14px;
    }
    nav ul li a{
        font-size: 20px;
        line-height: 100px;
    }
    nav ul li div{
        top: 35px;
    }
    section{
        padding: 0 40px;
    }
    .section_in{
        width: 100%;
        margin: 0 auto;
        padding: 60px 80px;
    }
    .s1 .section_in{margin-top: 0px;}
    .s1 .s1_left{
        width: 55%;
        padding: 120px 0px;
    }
    .s1 .s1_left .ani h1{
        font-size: 46px;
        font-weight: 500;
        margin-bottom: 70px;
    }
    .s1 .s1_left .ani p{
        font-size: 20px;
        line-height: 34px;
    }
    .s1 .s1_right{
        margin: 100px 0; 
    }

    /* s2 */
    .s2 .section_in{
        padding: 60px;
        gap: 40px;
    }
    .s2 .s2_left{
        padding-left: 0px;
    }
    .s2 .s2_left .title h1{
        font-size: 50px;
        margin-top: 60px;
        margin-bottom: 80px;
    }
    .s2 .s2_left .des .sub p{
        font-size: 22px;
        margin-bottom: 20px;
    }
    .s2 .s2_left .des .sub span{
        font-size: 18px;
        line-height: 30px;
    }
    .s2 .s2_left .des .sub{
        margin-bottom: 70px;
    }
    .s2 .s2_right{
        margin-top: 180px;
    }
    .s2 .s2_right .tab .tab_title ul{
        gap: 15px;
    }
    .s2 .s2_right .tab .tab_title ul li{
        width: 80px;
        height: 80px;
        border-radius: 15px;
        line-height: 80px;
    }
    .s2 .s2_right .tab .tab_title ul li.active{
        width: 70px;
        height: 70px;
        border: 5px solid #effcef;
        line-height: 70px;
    }
    .s2 .s2_right .tab .tab_title ul li a{
        font-size: 18px;
    }
    .s2 .s2_right .tab .tab_title ul li:nth-child(4) a{
        font-size: 30px;
    }
    .s2 .s2_right .tab .tab_title ul li:nth-child(5) a{
        font-size: 30px;
    }
    .s2 .s2_right .tab .tab_title ul li:nth-child(6) a{
        font-size: 30px;
    }
    .s2 .s2_right .tab .tab_title ul li:nth-child(7) a{
        font-size: 30px;
    }
    .s2 .s2_right .tab .tab_con {
        margin-top: 30px;
        height: 200px;
        font-size: 16px;
        line-height: 24px;
        padding: 30px;
    }

    /* s3 */
    .s3 .section_in{
        padding: 60px;
    }
    .s3 .title h1{
        font-size: 50px;
        margin-top: 100px;
        margin-bottom: 0;
    }
    .swiper {
        width: 100%;
        padding-top: 80px;
        padding-bottom: 50px;
    }
    .swiper-slide {
        width: 300px;
        height: 300px;
        margin-bottom: 30px;
    }
    .s3 .swiper-horizontal>.swiper-pagination-bullets span {
        width: 10px;
        height: 10px;
        margin: 0 5px;
    }
    .s3 .popup {
        width: 980px;
        padding: 40px;
        top: 100px;
    }
    .s3 .popup_in{
        padding: 40px;
    }
    .s3 .popup .container .graphic{
        height: 300px;
    }
    .s3 .popup .close {
        position:absolute;
        width: 20px;
        right: 85px;
        top: 85px;
    }
    .s3 .popup .nextBtn {
        width: 15px;
        right: 10px;
    }
    .s3 .popup .prevBtn {
        width: 15px;
        left: 10px;
    }
    .s3 .popup .txt{
        margin-bottom: 40px;
    }
    .s3 .popup .txt .slide_title {
        font-size: 22px;
        padding-bottom: 20px;
    }
    .s3 .popup .txt .slide_content{
        font-size: 20px;
        padding-bottom: 5px;
    }
    .s3 .popup .txt .slide_content:nth-child(3) {
        font-size: 18px;
        font-weight: 500;
    }

    /* s4 */
    .s4 .section_in{
        padding: 160px 60px;
    }
    .s4 .title h1{
        font-size: 50px;
        padding: 0;
        margin-bottom: 100px;
    }
    .s4 .site ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 20px;
    }
    .s4 .site ul a li{
        border-radius: 30px;
        width: 250px;
        height: 320px;
    }
    .s4 .site ul a .cover{
        border: 5px solid #effcef;
        width: 240px;
        height: 320px;
    }
    .s4 .site ul a .cover > div{
        padding: 30px 20px;
    }
    .s4 .site ul a .cover div h1{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .s4 .site ul a .cover div h2{
        margin-top: 50px;
        font-size: 26px;
    }
    .s4 .site ul a .cover div p{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0px;
    }
    .s4 .site ul a .cover > div > .box{
        gap: 20px;
    }
    .s4 .site ul a .cover div .box .boxx{
        height: 35px;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .s4 .site ul a .cover > div button {
        width: 80px;
        height: 35px;
        border-radius: 5px;
        font-size: 14px;
    }
    .s4 .site ul a .cover > div .twobtn button{
        width: 80px;
    }

    /* s5 */
    .s5{
        padding-bottom: 60px;
    }
    .s5 .section_in{
        padding: 80px 60px;
        gap: 20px;
    }
    .s5 .section_in > div{
        width: 50%;
    }
    .s5 .s5_left{
        padding: 40px 70px 0;
        font-size: 12px;
    }
    .s5 .s5_left .pic{
        height: 350px;
        margin-bottom: 40px;
    }
    .s5 .s5_right{
        padding: 40px;
    }
    .s5 .s5_right .title h1{
        font-size: 40px;
        margin: 20px;
    }
    .s5 .s5_right .s5_right_in .num{
        line-height: 30px;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .s5 .s5_right .s5_right_in .btn button{
        width: 120px;
        height: 50px;
        margin-bottom: 0px;
        font-size: 18px;
        line-height: 50px;
        border: 1px solid;
    }
    .s5 .s5_right .s5_right_in .btn button p{
        padding: 0 14px;
    }
    .s5 .s5_right .s5_right_in .btn button:last-child p{
        padding: 0 25px;
    }

    .s5 .popup{
        width: 600px;
        top: 20px;
        padding: 40px;
    }
    .s5 .popup .popup_in{
        padding: 40px;
    }
    .s5 .popup .popup_in .title h1{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .s5 .popup .popup_in form div fieldset {
        margin-bottom: 0px;
    }
    .s5 .popup .popup_in form div fieldset label{
        font-size: 18px;
    }
    .s5 .popup .popup_in form div fieldset input{
        width: 320px;
        font-size: 18px;
    }
    .s5 .popup .popup_in form div fieldset textarea{
        font-size: 18px;
        width: 320px;
    }
    .s5 .popup .popup_in form div button{
        width: 100px;
        height: 50px;
        border: 2px solid #655c56;
        margin-top: 10px;
    }
    .s5 .popup .popup_in form div button p{
        padding:  15px 9px;
        font-size: 18px;
    }
    .s5 .popup .xbtn{
        width: 20px;
        right: 80px;
        top: 80px;
    }

    .top{
        border: 2px solid #655c56;
        width: 60px;
        height: 60px;
        bottom: 75px;
        right: 41px;
        padding: 10px;
    }
    .top i{
        font-size: 20px;
    }
    .top p{
        font-size: 18px;
    }
}

@media screen and (max-width:480px){
    
    /* branch */
    .branch_right .branch{
        width: 230px;
    }
    .branch_left .branch{
        width: 230px;
    }
    .branch_right .branch_btm{
        width: 120px;
        bottom: 120px;
        left: -50px;
    }
    .wrap{
        width: 100%;
    }

    /* header */
    header{
        width: 100%;
        padding: 10px 10px 0;
    }
    .header_in{
        height: 70px;
        padding: 10px 15px;
        width: 95.7%;
    }
    .logo{
        width: 45px;
    }
    nav{
        display: none;
    }
    .menu{
        display: block;
        width: 45px;
    }
    .mobile_login ul{
        display: flex;
        justify-content: space-between;
    }
    .mobile_nav{
        width: 40%;
        position: absolute;
        right:0;
        top: 65px;
        background-color: #effcef;
        border: 2px solid #655c56;
        border-right: none;
    }
    .mobile_nav.active{
        background-color: #effcef;
    }
    .mobile_nav.active2{
        background-color: #ccedd2;
    }
    .mobile_nav ul:first-child{
        display: flex;
    }
    .mobile_nav ul:first-child li{
        width: 100%;
        padding: 20px 15px;
        text-align: center;
    }
    .mobile_nav ul:first-child li a{
        color: #6a9c78;
        font-size: 14px;
        font-weight: 700;
    }
    .mobile_nav ul li{
        padding: 20px 27px;
        border-bottom: 1px solid rgba(101, 92, 86,0.5);
    }
    section{
        width: 100%;
        padding: 0 10px;
    }
    .section_in{
        width: 100%;
    }

    /* s1 */
    .s1 .section_in{
        width: 100%;
        padding: 0;
        padding-top: 80px;
        flex-flow: column wrap;
        margin: 0;
    }
    .s1 .s1_left{
        margin: 0;
        width: 100%;
        padding: 50px 40px;
    }
    .s1 .s1_left .ani{
        animation: none;
    }
    .s1 .s1_left .ani h1{
        font-size: 42px;
        line-height: 50px;
        margin-bottom: 430px;
    }
    .s1 .s1_left .ani p{
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .s1 .s1_right{
        width: 70%;
        position: absolute;
        left: 70px;
        top: 180px;
    }

    /* s2 */
    .s2 .section_in{
        padding: 0;
        flex-flow: column wrap;
        gap: 0;
    }
    .s2 .section_in div{
        width: 100%;
    }
    .s2 .s2_left{
        padding: 40px;
        padding-bottom: 0;
    }
    .s2 .section_in .s2_left .title h1{
        font-size: 45px;
        /* margin-top: 100px; */
        margin-bottom: 80px;
    }
    .s2 .section_in .des .sub{
        margin-bottom: 80px;
    }
    .s2 .section_in .des .sub p{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .s2 .section_in .des .sub span{
        font-size: 18px;
        line-height: 30px;
    }
    .s2 .section_in .s2_right{
        margin-top: 0;
        padding: 0 40px;
    }
    .s2 .s2_right .tab .tab_title ul{
        gap: 10px;
    }
    .s2 .s2_right .tab .tab_title ul li{
        width: 80px;
        height: 80px;
        border-radius: 15px;
        line-height: 80px;
    }
    .s2 .s2_right .tab .tab_title ul li.active{
        width:70px;
        height: 70px;
        border: 5px solid #effcef;
        line-height: 70px;
    }
    .s2 .s2_right .tab .tab_title ul li a{
        font-size: 18px;
    }
    .s2 .s2_right .tab .tab_title ul li:nth-child(4) a{
        font-size: 26px;
    }
    .s2 .s2_right .tab .tab_title ul li:nth-child(5) a{
        font-size: 26px;
    }
    .s2 .s2_right .tab .tab_title ul li:nth-child(6) a{
        font-size: 26px;
    }
    .s2 .s2_right .tab .tab_title ul li:nth-child(7) a{
        font-size: 26px;
    }
    .s2 .s2_right .tab .tab_con {
        /* margin-top: 40px; */
        height: 200px;
        font-size: 18px;
        line-height: 28px;
        padding: 40px;
        margin-bottom: 60px;
    }

    /* s3 */
    .s3 .section_in{
        padding: 0 20px;
    }
    .s3 .title h1{
        font-size: 45px;
        margin-bottom: 0;
    }
    .swiper {
        padding-bottom: 40px;
        margin-bottom: 100px;
    }
    .swiper-slide {
        width: 300px;
        height: 300px;
        margin-bottom: 40px;
    }
    .s3 .swiper-horizontal>.swiper-pagination-bullets span {
        width: 10px;
        height: 10px;
        margin: 0 5px;
    }


    .s3 .popup {
        width:480px;
        padding: 10px;
        top: 0px;
    }
    .s3 .popup_in{
        padding: 40px;
    }
    .s3 .popup .container {
        display:flex;
        flex-flow:column nowrap;
        width: 100%;
        padding: 0;
    }
    .s3 .popup .container .graphic{
        height: 300px;
        margin: 0 auto;
        overflow: scroll;
    }
    .s3 .popup .close {
        position: fixed;
        width: 15px;
        right: 53px;
        top: 53px;    }
    .s3 .popup .nextBtn {
        width: 15px;
        right: 25px;
    }
    .s3 .popup .prevBtn {
        width: 15px;
        left: 25px;
    }
    .s3 .popup .txt{
        margin-bottom: 40px;
    }
    .s3 .popup .txt .slide_title {
        font-size: 22px;
        padding-bottom: 20px;
    }
    .s3 .popup .txt .slide_content{
        font-size: 20px;
    }
    .s3 .popup .txt .slide_content:nth-child(3) {
        font-size: 18px;
        font-weight: 500;
    }

    /* s4 */

    .s4 .section_in{
        padding: 120px 0px;
    }
    .s4 .title{
        margin-bottom : 60px;
    }
    .s4 .title h1{
        font-size: 45px;
    }
    .s4 .site ul{
        flex-flow: column nowrap;
        align-items: center;
        gap: 40px;
    }
    .s4 .site ul a li{
        border-radius: 30px;
        width: 360px;
        height: 220px;
        margin: 0 auto;
    }
    .s4 .site ul a .img div{
        margin: 10% auto;
    }
    .s4 .site ul a .cover{
        border: 5px solid #effcef;
        width: 350px;
        height: 210px;
        display: block;
    }
    .s4 .site ul a .cover > div{
        padding: 30px;
    }
    .s4 .site ul a .cover div h1{
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
    }
    .s4 .site ul a .cover div h2{
        margin-top: 15px;
        font-size: 34px;
    }
    .s4 .site ul a .cover div p{
        display: none;
    }
    .s4 .site ul a .cover div span{
        display: block;
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .s4 .site ul a .cover div .box .boxx{
        display: none;
    }
    .s4 .site ul a .cover > div button {
        width: 120px;
        height: 42px;
        line-height: 42px;
        border-radius: 8px;
        font-size: 18px;
    }
    .s4 .site ul a .cover > div .twobtn button{
        width: 120px;
    }

    /* s5 */
    .s5{
        padding-bottom: 10px;
    }
    .s5 .section_in{
        padding: 0;
        gap: 0;
        flex-flow: column nowrap;
    }
    .s5 .section_in > div{
        width: 100%;
    }
    .s5 .s5_left{
        background-color: #effcef;
        padding: 0;
        font-size: 14px;
        margin-bottom: 40px;
    }
    .s5 .s5_left .pic{
    /* 수정 */
        width: 70%;
        height: 360px;
        margin: 60px auto;
    }
    .s5 .s5_right{
        padding: 40px;
    }
    .s5 .s5_right .title{
        margin: 40px 0 50px;
    }
    .s5 .s5_right .title h1{
        font-size: 45px;
        margin: 0;
    }
    .s5 .s5_right .s5_right_in .num{
        line-height: 34px;
        font-size: 20px;
        margin-bottom: 40px;
    }
    .s5 .s5_right .s5_right_in .btn{
        justify-content: space-around;
    }
    .s5 .s5_right .s5_right_in .btn button{
        width: 125px;
        height: 60px;
        font-size: 20px;
        line-height: 60px;
    }
    .s5 .s5_right .s5_right_in .btn button p{
        padding: 0 10px;
    }
    .s5 .s5_right .s5_right_in .btn button:last-child p{
        padding: 0 24px;
    }
    .s5 .popup{
        width: 480px;
        padding: 10px;
        top: 370px;
        z-index: 200;
    }
    .s5 .popup .popup_in{
        padding: 40px;
    }
    .s5 .popup .popup_in .title h1{
        font-size:35px;
        margin-bottom: 50px;
    }
    .s5 .popup .popup_in form div fieldset {
        flex-flow: column wrap;
        gap: 5px;
        margin-bottom: 5px;
    }
    .s5 .popup .popup_in form div fieldset label{
        font-size: 18px;
    }
    .s5 .popup .popup_in form div fieldset input{
        width: 370px;
    }
    .s5 .popup .popup_in form div fieldset textarea{
        width: 370px;
    }
    .s5 .popup .popup_in form div button{
        width: 90px;
        height: 45px;
        margin-top: 15px;
        border: 2px solid #655c56;
    }
    .s5 .popup .popup_in form div button p{
        padding:  11px 3px;
        font-size: 18px;
    }
    .s5 .popup .xbtn{
        width: 20px;
        right: 55px;
        top: 55px;
    }
    .top{
        border: 2px solid #655c56;
        width: 60px;
        height: 60px;
        bottom: 25px;
        right: 10px;
        padding: 10px 0;
        cursor: pointer;
        z-index: 100;
        display: none;
    }
    .top i{
        font-size: 20px;
    }
    .top p{
        font-weight: 700;
        font-size: 14px;
    }
}